{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "yarn test --watchAll=false --findRelatedTests --bail"
  ],
  "src/**/*.css": "stylelint --fix",
  ".*rc": "prettier --write --parser json",
  "*.(js|jsx|ts|tsx|html|css|md|json|yaml|yml)": "prettier --write",
  "../**/*.{md,yaml,yml}": "prettier --write"
}
