# Ignore artifacts:
build
coverage

# Ignore NEXTJS:
.next

# Ignore NETLIFY:
.netlify

# Ignore YARN:
.yarn
.pnp.cjs
.pnp.loader.mjs

# Ignore node_modules:
node_modules


eslint_report.json

CHANGELOG.md