.Button {
  position: relative;
  display: inline-block;
  overflow: hidden;

  // width: 100%;
  border: unset;
  background-color: hsl(338deg 79% 64%);
  color: hsl(0, 0%, 100%);
  outline: none;
  transition: background-color 0.3s ease-in-out;

  &:hover,
  &:focus {
    background-color: hsl(338deg 52% 58%);
  }

  &:focus-visible {
    box-shadow: 0 0 3px 6px hsl(338deg 79% 64%);
  }

  &:disabled {
    background: hsl(338deg 51% 32%);
    cursor: not-allowed;
  }
}

.ButtonText {
  position: relative;
}

.ButtonSmall {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: small;
}

.ButtonMedium {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: medium;
}

.ButtonLarge {
  padding: 15px 20px;
  border-radius: 5px;
  font-size: larger;
}

.Fullwidth {
  display: block;
  width: 100%;
}

.Loading {
  cursor: wait;

  &::before {
    position: absolute;
    top: 0;
    left: -10%;
    width: 150%;
    height: 100%;
    animation: loading-animation 1s infinite linear;
    background: hsl(338deg 52% 58%)
      repeating-linear-gradient(
        60deg,
        transparent,
        transparent 10px,
        rgb(230, 129, 166) 5px,
        rgb(230, 129, 166) 20px
      );
    content: '';
  }
  @media screen and (prefers-reduced-motion: reduce) {
    &::before {
      animation: none;
    }
  }
}

@keyframes loading-animation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-23px);
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .Button {
    transition: none;

    ::before {
      animation: none;
    }
  }

  .Loading::before {
    animation: none;
  }
}
