.Pill {
  background-color: $primary-color;
  border-radius: 50px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 0.6rem;
  font-weight: bold;
  margin-right: 2px;
  padding: 5px 10px;
}
