.Root {
  align-items: center;
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
}

.Logo {
  padding: 2rem;
}

.Highlight {
  color: hsl(338deg 79% 64%);
  font-weight: bold;
  margin-left: 7px;
}
