.Menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.Link {
  color: hsl(0, 0%, 100%);
  display: inline-block;
  padding: 10px;

  &:hover,
  &:focus {
    color: hsl(338deg 79% 64%);
  }
}

@media screen and (min-width: 600px) {
  .Menu {
    flex-direction: row;
  }
}
