.backdrop {
  backdrop-filter: blur(0.8px);
  background: rgb(0 0 0 / 50%);
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition-duration: 10.5s;
  transition-timing-function: linear;
  width: 100%;
}
