.Wrapper {
  align-items: center;
  background-color: hsl(271, 76%, 53%);
  display: flex;
  left: 0;
  min-height: 100px;
  position: fixed;
  top: -76px;
  transition: background-color, min-height, top, 0.6s ease-in-out;
  width: 100%;
  z-index: 1;
}

.Navbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
}

.visible {
  top: 0;
}

.Scrolled {
  background-color: rgb(114 26 196);
  box-shadow: rgb(25 45 100 / 8%) 0 10px 30px 0;
  min-height: 76px;
}

.DesktopOnly {
  display: none;
}

@media screen and (prefers-reduced-motion: reduce) {
  .Wrapper {
    transition: none;
  }

  .visible {
    transition: none;
  }
}

@media screen and (min-width: 600px) {
  .DesktopOnly {
    display: block;
  }

  .MobileOnly {
    display: none;
  }
}
