.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.sideDrawer {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background: blueviolet;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;

  &.visible {
    transform: translateX(0);
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .sideDrawer {
    transition: none;
  }
}
