.navWrapper {
  display: flex;
  height: 100px;
  align-items: center;
  background-color: blueviolet;
}

.navContent {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navMenu {
  display: none;
}

@media screen and (min-width: 600px) {
  .navMenu {
    display: block;
  }
}
