.Footer {
  align-items: left;
  background-color: hsl(212, 46%, 11%);
  border-top: 1px solid hsl(0, 0%, 92%);
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
  color: hsl(0, 0%, 100%);
  display: flex;
  flex: 1;
  flex-direction: column;
  height: fit-content;
  justify-content: space-between;
  padding-top: 50px;
}

.TopContent {
  padding: 20px 0;
}

.MiddleContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;

  .Column {
    padding: 10px 20px;
    width: 100%;
  }

  .ColumnHeader {
    display: block;
    text-align: center;
  }
}

.BottomWrapper {
  align-items: center;
  background-color: hsl(213deg 48% 9%);
  border-top: 1px solid hsl(213deg 46% 14%);
  display: flex;
  font-size: 12px;
  height: 50px;
  justify-content: right;
  width: 100%;
}

.BottomContent {
  color: hsl(0, 1%, 72%);
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .MiddleContent {
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;

    .Column {
      width: calc(100% / 3);
    }
  }
}

@media screen and (min-width: 1024px) {
  .Footer {
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
    padding-top: 50px;
  }
}
