.Toggle {
  position: relative;
  z-index: 10;
  display: flex;
  width: 35px;
  height: 35px;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.Bar {
  width: 100%;
  height: 5px;
  background-color: white;
  border-radius: 50px;
  transition: 0.3s;

  /* Rotate first bar */
  &:nth-child(1).Active {
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  /* Fade out the second bar */
  &:nth-child(2).Active {
    opacity: 0;
  }

  /* Rotate last bar */
  &:nth-child(3).Active {
    transform: rotate(45deg) translate(-8px, -8px);
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .Bar {
    transition: none;
  }
}
